# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

print(cars1.head(3))
print(cars2.head(3))

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76

   origin                car
0       3        honda civic
1       1     dodge aspen se
2       1  ford granada ghia

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [3]:
cars1 = cars1.iloc[:, :-5]
cars1.head(3)

# Original solution
#
# cars1 = cars1.loc[:, "mpg":"car"]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite

### Step 5. What is the number of observations in each dataset?

In [4]:
print(f'cars1 observations: {cars1.shape[0]}')
print(f'cars2 observations: {cars2.shape[0]}')

cars1 observations: 198
cars2 observations: 200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [5]:
cars1.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite

In [6]:
cars2.tail(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

In [7]:
cars = cars1.merge(cars2, how='outer')
cars.shape

# Original solution:
#
# cars = cars1.append(cars2)

(398, 9)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [8]:
# owners = pd.Series(range(15000, 73001)) # <== WRONG
# owners.head()

owners = np.random.randint(15000, high=73001, size=cars.shape[0], dtype='l') # FIXED
owners

array([56500, 30052, 26368, 43789, 31953, 53306, 42847, 67513, 28387,
       45139, 32446, 29796, 64391, 45938, 35135, 45048, 39408, 22173,
       20415, 63136, 72255, 47819, 67306, 20393, 41179, 40688, 32943,
       33251, 39531, 65365, 22829, 33650, 57230, 48655, 46383, 64476,
       69278, 46099, 15733, 37304, 50494, 33919, 20108, 28600, 32057,
       63116, 38289, 41917, 55380, 40600, 63831, 27283, 57590, 49597,
       21936, 33371, 58181, 40420, 44315, 62749, 72470, 50175, 48173,
       65821, 43013, 48137, 55057, 57254, 70924, 52490, 66779, 34475,
       31860, 18676, 53058, 28193, 57551, 54408, 15648, 42244, 58646,
       36959, 51849, 40822, 17374, 51759, 71599, 23472, 17129, 58729,
       54778, 70767, 48082, 63576, 21584, 34095, 69962, 35719, 66275,
       61826, 28082, 70356, 28255, 43137, 67950, 46886, 32975, 45236,
       28169, 28507, 50636, 24761, 60861, 62253, 47479, 17118, 37314,
       52612, 16139, 35809, 39725, 35563, 28532, 15225, 44500, 16051,
       30736, 63029, 63078, 21114, 63342, 41974, 23542, 44954, 44317,
       62873, 50270, 18223, 56373, 64433, 32415, 24769, 65094, 15243,
       70751, 35379, 39573, 69227, 55639, 21062, 36671, 40686, 70321,
       69147, 43306, 44550, 31704, 41838, 44134, 18143, 56743, 31142,
       67848, 45169, 71337, 41976, 46235, 41430, 40883, 47904, 34664,
       36146, 40722, 61343, 54968, 53855, 70004, 47726, 21513, 56113,
       34873, 48541, 36533, 50008, 26044, 20056, 32348, 59039, 42649,
       45637, 21397, 50284, 40185, 17608, 18011, 31181, 71137, 35168,
       50470, 17309, 65168, 58030, 59821, 69933, 58278, 71811, 58587,
       58563, 35507, 62766, 56489, 66974, 64158, 19731, 53445, 67515,
       66653, 70498, 23807, 58742, 61303, 65711, 53287, 19152, 69091,
       63175, 30691, 56736, 56486, 50005, 26992, 23556, 48768, 45180,
       33226, 24931, 67965, 53944, 21131, 71639, 69069, 69566, 16981,
       36731, 28526, 35567, 38565, 28833, 53707, 55548, 42679, 39332,
       19464, 34115, 69979, 50229, 61759, 56997, 24411, 35793, 18358,
       37662, 55296, 22490, 44017, 24073, 32047, 38590, 41576, 54634,
       19172, 56669, 16364, 65814, 15934, 44151, 22959, 35286, 42507,
       32463, 62946, 47412, 64933, 53646, 66276, 43413, 63129, 19121,
       70027, 54053, 71935, 70709, 50472, 35726, 39398, 17772, 51389,
       42593, 26567, 70140, 47912, 62238, 54457, 57090, 32871, 58262,
       72286, 19466, 65310, 70257, 16486, 28393, 63603, 71116, 44523,
       46489, 62027, 69590, 60893, 22489, 46891, 69822, 63280, 30549,
       27609, 53272, 34092, 56433, 62780, 40052, 28672, 37205, 15407,
       49600, 63375, 22651, 43572, 40039, 20838, 71598, 54438, 41160,
       17861, 37013, 32776, 21398, 28135, 21364, 28248, 48386, 17449,
       50548, 33998, 40266, 39833, 23205, 36590, 39845, 20712, 23505,
       44452, 42189, 72803, 26733, 28514, 65442, 55873, 51862, 41360,
       52275, 65246, 50784, 46726, 64817, 32809, 64437, 27313, 42418,
       52411, 52347, 67848, 52597, 29270, 60505, 22857, 49865, 54212,
       61816, 23871, 17844, 51152, 55536, 43432, 66856, 59701, 46284,
       35442, 48657])

### Step 8. Add the column owners to cars

In [9]:
cars['owners'] = owners
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,56500
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,30052
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,26368
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,43789
4,17.0,8,302,140,3449,10.5,70,1,ford torino,31953