# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',
                   sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [3]:
chipo['item_price'] = chipo['item_price'].apply(lambda row: float(row[1:-1]))
chipo['item_price'].dtype

dtype('float64')

In [4]:
# Fixed, now it is CORRECT (btw, it's wrong answer in the solutions notebook)

chipo[(chipo['item_price'] > 10) & (chipo['quantity'] == 1)].shape[0]

997

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [5]:
# FIXED
prices = chipo[['item_name', 'item_price']].drop_duplicates().sort_values('item_name').reset_index(drop=True)
prices

             item_name  item_price
0    6 Pack Soft Drink       12.98
1    6 Pack Soft Drink        6.49
2        Barbacoa Bowl       11.49
3        Barbacoa Bowl        8.69
4        Barbacoa Bowl        9.25
..                 ...         ...
204  Veggie Salad Bowl       11.25
205  Veggie Soft Tacos       16.98
206  Veggie Soft Tacos       11.25
207  Veggie Soft Tacos        8.75
208  Veggie Soft Tacos        8.49

[209 rows x 2 columns]

### Step 6. Sort by the name of the item

In [6]:
prices.sort_values('item_name')

             item_name  item_price
0    6 Pack Soft Drink       12.98
1    6 Pack Soft Drink        6.49
2        Barbacoa Bowl       11.49
3        Barbacoa Bowl        8.69
4        Barbacoa Bowl        9.25
..                 ...         ...
203  Veggie Salad Bowl        8.75
206  Veggie Soft Tacos       11.25
207  Veggie Soft Tacos        8.75
205  Veggie Soft Tacos       16.98
208  Veggie Soft Tacos        8.49

[209 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [7]:
# We get most expensive item and then get a total quantity of all orders
max_price = prices['item_price'].max()
max_price_item_name = prices[prices['item_price'] == max_price]['item_name'].values[0]
max_price_item_quantity = chipo.groupby('item_name').sum().loc[max_price_item_name]['quantity']

print(f'Item: {max_price_item_name}\nPrice: {max_price}\nTotal quantity: {max_price_item_quantity}')

Item: Chips and Fresh Tomato Salsa
Price: 44.25
Total quantity: 130.0

In [8]:
# We get most expensive item and then get its the highest quantity
max_price = prices['item_price'].max()
max_price_item_name = prices[prices['item_price'] == max_price]['item_name'].values[0]

max_price_item_highest_quantity = chipo[chipo['item_name'] == max_price_item_name]['quantity'].max()

print(f'Item: {max_price_item_name}\nPrice: {max_price}\nHighest quantity: {max_price_item_highest_quantity}')

Item: Chips and Fresh Tomato Salsa
Price: 44.25
Highest quantity: 15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [9]:
chipo.groupby('item_name').sum().loc['Veggie Salad Bowl']['quantity'] # CORRECT

18.0

### Step 9. How many times did someone order more than one Canned Soda?

In [10]:
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)].count()[0] # CORRECT

20